 Ns 1 b 
 Ns 2 
 Ns 2 f 
 Ns 2 k 
 Ns 2 h 
 Ns 2 a 
 Ns 2 b 
 Ns 2 c 
 Ns 2 d 
 Ns 2 e 
 Nsg 2 
 DL 6 
 DL 8 
 DFL 10 
 DS 14 
 DS 20 
 DS 30 
 DS 60 
 DS 90 
 DVL 15/1 
 B 360 
 ZL 105 
 LD 80 
 AO 2 
 AO 5 
 D 30 
 D 40 
