.gitmodules

main.cfg

all/*txt

diffs/*diff

pattern/*pattern

tests/standard/*ods

*~

*#

false_positive/*
!false_positive/*.template
!false_positive/*.example
!false_positive/README

true_positive/*
!true_positive/*.template
!true_positive/*.example
!true_positive/README

human_readable_pattern/private/*
!human_readable_pattern/private/*.template
!human_readable_pattern/private/*.example
!human_readable_pattern/private/README

tests/private/*
!tests/private/*.template
!tests/private/*.example
!tests/private/README

test_results/*
!test_results/README
