[Desktop Entry]
Version=1.0
Name=Einstellungen
Comment=Einstellungen
GenericName=Einstellungen
Exec=settings
Icon=rk-settings
Terminal=true
X-MultipleArgs=false
Type=Application
Categories=
StartupWMClass=RailroadKeywords
