# Quelle: http://www.beitraege.lokomotive.de/datenbank/baureihen/XXX.asc

category=Baureihen[category_separator]XXX

pattern_delete=(^([[:space:]]*§.*)|([[:space:]]*Mo.*)|([[:space:]]*Di.*)|([[:space:]]*Mi.*)|([[:space:]]*Do.*)|([[:space:]]*Fr.*)|([[:space:]]*S(a|o).*)|([[:space:]]*P.*)|([[:space:]]*T.*)|([[:space:]]*E.*)|([[:space:]]*ET.*)|([[:space:]]*V.*)|([[:space:]]*VB.*)|([[:space:]]*VM.*)|([[:space:]]*VS*)|([[:space:]]*VT.*))|(-[0-9])
pattern_delete=([[:space:]]*.*er[[:space:]].*J.*)|([[:space:]].*-.*)

pattern_not_merge=(([[:space:]]XXXer[[:space:]])(|-[[:space:]])(|Jahre(|n)[[:space:]]))
