 XXXer - Jahre 
  XXXer - Jahren 
  XXXer Jahre 
  XXXer Jahren 
  E XXX 
  EXXX 
  V XXX 
  VXXX 
  VT XXX 
  VTXXX 
  EXXX 001 
  E XXX 001 
  VXXX 001 
  V XXX 001 
  VTXXX 001 
  VT XXX 001 
  # Prüfziffern entfernen
  -0 
  -1 
  -2 
  -3 
  -4 
  -5 
  -6 
  -7 
  -8 
  -9 
    
